<section
  id="avatar"
  class="padding-x relative bg-[url(/assets/images/bg-gradient.png)]"
>
  <div class="max-container relative min-h-screen pt-40">
    <div class="flex w-3/5 flex-col">
      <h3 class="text-5xl font-bold leading-tight">
        <span>Професійна</span><br />
        <span class="text-dark">допомога логопеда</span><br />
        <span>для вашої дитини</span>
      </h3>
      <p class="w-[580px] text-xl text-gray-600">
        Я проводжу індивідуальні заняття для дітей, допомагаючи їм покращити
        мовлення та комунікативні навички через сучасні методики ігрового
        навчання.
      </p>
    </div>
    <div class="absolute bottom-0 right-0 h-[95%]">
      <img
        class="max-h-full max-w-full"
        src="/assets/images/diana2.png"
        alt="Image description"
      />
    </div>
  </div>
</section>
