<section id="avatar" class="padding-x bg-[url(/assets/images/bg-gradient.png)]">
  <div
    class="max-container relative flex flex-col justify-end pt-40 sm:min-h-screen lg:justify-start"
  >
    <div class="relative z-10">
      <h3 class="text-2xl font-bold leading-tight md:text-4xl lg:text-5xl">
        <span class="inline-block bg-white px-3 lg:bg-transparent lg:px-0"
          >Професійна</span
        ><br />
        <span
          class="inline-block bg-white px-3 text-dark lg:bg-transparent lg:px-0"
          >допомога логопеда</span
        ><br />
        <span class="inline-block bg-white px-3 lg:bg-transparent lg:px-0"
          >для вашої дитини</span
        >
      </h3>
      <p
        class="sm:mb-10 inline-block bg-white px-3 text-gray-600 md:text-lg lg:w-[50%] lg:bg-transparent lg:px-0 lg:text-xl"
      >
        Я проводжу індивідуальні заняття для дітей, допомагаючи їм покращити
        мовлення та комунікативні навички через сучасні методики ігрового
        навчання.
      </p>
    </div>
    <div class="absolute bottom-0 z-0 h-full pt-10  right-0">
      <img
        class="max-h-full max-w-full"
        src="/assets/images/diana2.png"
        alt="Image description"
      />
    </div>
  </div>
</section>
