<section
  id="contacts"
  class="padding-x flex h-auto flex-col items-center bg-background bg-[url(/assets/svg/backgraund.svg)] bg-cover pt-8"
>
  <p class="font- text-2xl text-gray-500">Як можна з мною зв’язатися?</p>
  <h1 class="mb-8 text-center text-3xl font-bold">
    <span class="text-dark">Напишіть мені</span> <span class="whitespace-nowrap"> в будь-яку</span> <br />
    соціальну мережу
  </h1>
  <div
    class="flex flex-col justify-center gap-10 pb-28 sm:flex-row sm:flex-wrap"
  >
    @for (contact of contacts; track contact.social) {
      <app-contact-card [data]="contact"></app-contact-card>
    }
  </div>
</section>
